* {
    font-family: 'Bebas Neue', cursive;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

span {
    color: rgb(214, 27, 27);
}

img{
    border-radius: 1%;
}

p{
    font-size: 18px;
}

/* Navbar */

nav {
    font-size: 30px;
}

#mainNavBar .nav-link:hover{
    color: rgb(214, 27, 27);
}

#nav-logo {
    font-size: 35px;
}

.navbar.scrolled{
    background: rgba(0, 13, 16, 0.8);
    transition: background 500ms;
}

/* Home page */

.background-img {
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("imgs/van_graffiti.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.7);
    position: sticky;
    background-repeat: no-repeat;
    animation: breath 10s linear infinite;
}

@keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 110% auto; }
    100% { background-size: 100% auto; }
  }

  @media screen and (max-width: 1000px ) {
      .background-img{
          animation: none;
      }
  }

h1 {
    color: rgb(238, 252, 250);
    font-size: 60px;
}
h2 {
    color: rgb(238, 252, 250);
    font-size: 40px;
}

/* About section */

.about-body {
    background: #000000;
background: -webkit-linear-gradient(top, #000000, #01262E);
background: -moz-linear-gradient(top, #000000, #01262E);
background: linear-gradient(to bottom, #000000, #01262E);
    transform: translateY(-100px) skew(0, 6deg);
}

.blurb {
    transform: skew(0, -6deg);
}

.about-txt {
    color: rgb(237, 252, 250);
}


/* Why choose section */

.why-choose h2{
    color: rgb(0, 5, 5);
}
.why-choose p {
    color: rgb(0, 5, 5);
}


/* Testimonials section */

.review-section{
    background: #000000;
background: -webkit-linear-gradient(top, #000000, #01262E);
background: -moz-linear-gradient(top, #000000, #01262E);
background: linear-gradient(to bottom, #000000, #01262E);
    transform:  skew(0, 6deg);

}

#reviews p{
    font-size: 25px;
    color: rgb(237, 252, 250);
}

.review-body{
    transform: skew(0, -6deg);
}

.review-btn{
    transform: skew(0, -6deg);
}

/* Last section */

.final-section h2{
    color: rgb(0, 5, 5);
}

.final-section p{
    font-size: 20px;
}

/* Footer */

footer{
    background: #000000;
background: -webkit-linear-gradient(top, #000000, #01262E);
background: -moz-linear-gradient(top, #000000, #01262E);
background: linear-gradient(to bottom, #000000, #01262E);
    padding: 1.5em;
    font-size: 20px;
}

footer li a{
 text-decoration: none;
}